@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7fafc;
  font-family: 'Arial Bold', sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0; /* Removes the scrollbar */
}

.swiper-pagination {
  display: none !important; /* Hides the pagination */
}